body{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
   display: none;
    width: 80%;
    height: 2460px;
    flex-direction: column;
    background-color: #edf2f4;
    box-shadow: 10px 10px #e5e5e5;
   
}

.header{
    display: flex;
    margin: 30px;
    padding: 20px;

}
.header .img img{
    height: 300px;
    width: 400px;
    display: flex;
    z-index:45 ;
    flex: wrap;
    box-shadow: 05px 05px 10px grey;
    opacity: 0.5;

}
.header .img{
display: flex;
z-index: 30;
}
.name{
    z-index: 100;
    margin-left: -230px;
    padding-top: 1px;
    font-size: 60px;
    text-shadow: 5px 2px 5px black;
    color: black;
    display: none;
   
}
.header .identity{
    display: flex;
    z-index: 40;
    text-align: center;
    margin-top: 126px;
    margin-left: -297px;
    padding: 0px;
    padding-bottom: 16px;
    background-color: #0096c7;
    box-shadow: 2px 2px 5px grey;
    color: white;
}
.logos{
  
    display: flex;
    flex-direction: row-reverse;
    display: none;
    
}
.logos .devicon-ruby-plain-wordmark{
    height: 40px;
    width: 30px;
    display: none;
   
}

/* section of my work */
.tag{
    display: block;
    padding-left: 35px;
    margin-left: 15px;
    margin-bottom: 15px;
    font-size: 60px;
    text-align: center;
    color: #0096c7;
    text-shadow: 2px 5px 5px grey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.mywork{
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
   
   
}
.work{
    margin: 9px;
    height: 400px;
    width: 273px;
    border-radius: 20px;
    background-color: #e5e5e5;
    box-shadow: 5px 5px 10px grey;
margin-bottom: 30px;
}
.work h3{
    text-align: center;
}
.work p{
    text-align: center;
    font-size: 15px;
}
#mywork-1 img{
    width: 273px;
    height: 250px;
}
#mywork-2 img{
    width: 273px;
    height: 250px;
}
#mywork-3 img{
    
    width: 273px;
    height: 250px;
}
#mywork-4 img{
    width: 273px;
    height: 250px;
}
#mywork-5 img{
    width: 273px;
    height: 250px;
}
#mywork-6 img{
    width: 273px;
    height: 250px;
}


/* contact section */
.contain1{
    display: flex;
    position: relative;
    flex-direction: row;
    background-color: #0096c7;
    padding: 12px;
    margin-top: 90px;
    height: 450px;
}
.item{
    display: flex;
    position: relative;
    flex-direction: column;
    z-index: 1;
}
.item1{
    display: flex;
    flex-direction: row;
   font-size: larger;
    width: 400px;
    color: white;
    margin-left:20px ;
    
}
.item2{
    display: flex;
    margin-left: 20px;
    color: white;

}
.item1 h2{
    margin-bottom: 10px;
    font-size: 40px;
}
.item1 p{
    height: 50px;
    width: 350px;
}
.item2 svg{
    height: 40px;
    width: 40px;
    margin-right:15px ;
}
.item3{
 
    font-size: 20px;
    display: flex;
    margin-left: 20px;
    

}
.item3 a{
    padding-right: 20px;
    margin-top:10px ;
    text-decoration: none;
    color: white;
}
.item3 svg{
    
    height: 40px;
    width: 40px;
    margin-right:15px ;
}
.item3:hover a{
    color: blue;
    text-decoration: underline;
}
.contactimg{
    display: flex;
    padding: 20px;
    margin: -15px;
    margin-top: -1px;
}
.contactimg img{
    height: 400px;
    width: 200px;
    box-shadow: 5px 5px 20px black;
    border-radius: 20px;
    
}
/* for laptop */
@media(min-width:768px) and (max-width:1400px){
    .container{
        display: block;
    }
}